ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

img {
  display: block;
}

td, tr, img  { padding: 0px; margin: 0px; border: none; }
table { border-collapse: collapse; }

.header__item-title {
  background-color: #2a2a2a;
}

.header {
  background: #2c2b2b;

  &__logo {
    height: 70px;
    width: 84px;

    // temp
    margin: 0 auto;
  }

  &__text {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  a {
    &:hover, &:active, &:visited {
      color: $white;
    }
  }

  // Prime orange
  &__item-title {
    background-color: #2a2a2a;
  }

  &__item-price {
    background: #f9b24f;
  }

  &__item-name {
    color: white;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
  }

}

.price .wrapper-inner, .item .wrapper-inner {
  padding: 0 10px;
}

.price {
  background-color: $success-color;
  &__header {
    color: $white;
  }
}

  .buttons-expanded {
    width: 384px;
  }

.item {
  &__text {
    color: $gray-text;
  }

  &__image {
    width: 100%;
  }

  &__light-gray {
    color: $gray-light-text;
  }

  &__value {
    color: $success-color;
    text-decoration: underline;

    &:hover, &:active, &:visited {
      color: $success-color;
    }
  }

  &__wrap {
    padding-left: 40px;
  }
  &__list {
    position: relative;
    text-indent: -40px;

    span {
      position: absolute;
      top: 10px;
      left: 8px;
      color: $white;
    }

    &--icon {
      position: relative;
      top: 6px;
      margin-right: 8px;
      display: inline-block;
    }
  }
}

.btn {
  color: $white;
  display: block;

  &--orange {
    border-color: $warning-color;
    background-color: $warning-color;
  }

  &--green {
    border-color: $success-color;
    background-color: $success-color;
  }

  &--green, &--orange {
    &:hover, &:active, &:visited {
      color: $white;
    }
  }

  &--large {
    padding: 16px 40px 16px 40px;
  }

  &--transparent-green {
    background-color: transparent;
    color: $success-color;

    &:hover, &:active, &:visited {
      color: $success-color;
    }
  }

  &--expanded {
    // padding: 16px 0;
    width: 100%;
    text-align: center;
  }
}

.footer {
  max-width: 768px;
  width: 100%;
  background: #2c2b2b;

  &__title {
    color: $white;
  }

  &__contact {
    color: $gray-light-text;

    &:hover, &:active, &:visited {
      color: $gray-light-text;
    }
  }

  &__icon {
    margin-right: 8px;
    display: inline-block;
  }

  &__text {
    color: $gray-light-text;
    font-size: 14px;
    padding: 0 10px 0 10px
  }

  &__logo {
    background-color: $black-background;
  }

  &_underline {
    text-decoration: underline;
  }
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  .header {

    &__text {
      text-align: center !important;
    }

    h5 {
      text-align: center !important;
    }

    th, td, tr {
      display: block;
      width: auto;
      margin: 0 auto;
    }

  }

  // img {
  //   width: 100%;
  // }

  // td.small-6, th.small-6 {
  //   display: table-cell !important;
  // }

  td.small-6, th.small-6 {
    // width: 100% !important;
    display: inline-block !important;
  }

  img {
    width: 100%;
  }

  // table {
  //   width: 100% !important;
  // }

  .buttons-expanded {
    width: 100% !important;
    display: block;
    padding: 0 !important;
  }

  .footer {
    th, td, tr {
      display: block;
      width: auto;
    }
  }
}
