@import "settings";
@import 'foundation-emails';

.container {
  border: 1px solid pink;
}

.header {
  background-image: url(/assets/img/layer-top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__logo {
    height: 70px;
    // width: 100%;
  }

  &__text {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;
    font-size: 15px;
  }

  &__phone {
    font-size: 20px;
  }
}

.title {
  margin-bottom: 0;
  color: $gray-text;
  font-size: 34px;

  &--gray {
    color: $gray-light-text;
  }
}

.price .wrapper-inner, .item .wrapper-inner {
  padding: 0 16px;
}

.price {
  background-color: $success-color;
  &__header {
    color: $white;
  }

  &--small {
    font-size: 15px;
  }
}

.item {
  font-size: 16px;

  &__image {
    background-position: center center;
    background-size: cover;
  }
}

.btn {
  color: $white;
  border-width: 2px;
  border-style: solid;
  display: inline-block;

  &--orange {
    border-color: $warning-color;
    background-color: $warning-color;
  }
  // font-weight: bold;

  &--large {
    padding: 16px 40px 16px 40px;
  }

  &--transparent-green {
    background-color: transparent;
    color: $success-color;
    border-color: $success-color;
  }

  &--green {
    border-color: $success-color;
    background-color: $success-color;
  }

  &--expanded {
    padding: 16px 0;
    max-width: 360px;
    width: 100%;
    text-align: center;
  }
}

.footer {
  background-image: url(/assets/img/layer-bottom.png);

  &__text {
    color: $gray-light-text;
    font-size: 14px;
  }

  &__logo {
    background-color: $black-background;
  }
}
