ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

.header {
  background-image: url(/assets/img/layer-top.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__logo {
    height: 70px;
    width: 84px;
  }

  &__text {
    color: $white;
    text-transform: uppercase;
    margin-bottom: 0;

    &:hover, &:active, &:visited {
      color: $white;
    }
  }

}

.price .wrapper-inner, .item .wrapper-inner {
  padding: 0 16px;
}

.price {
  background-color: $success-color;
  &__header {
    color: $white;
  }
}

.item {
  &__text {
    color: $gray-text;
  }

  &__light-gray {
    color: $gray-light-text;
  }

  &__value {
    color: $success-color;
    text-decoration: underline;

    &:hover, &:active, &:visited {
      color: $success-color;
    }
  }

  &__wrap {
    padding-left: 40px;
  }
  &__list {
    position: relative;
    text-indent: -40px;

    span {
      position: absolute;
      top: 10px;
      left: 8px;
      color: $white;
    }

    &--icon {
      position: relative;
      top: 6px;
      margin-right: 8px;
      display: inline-block;
    }
  }
}

.btn {
  color: $white;
  border-width: 2px;
  border-style: solid;
  display: inline-block;

  &--orange {
    border-color: $warning-color;
    background-color: $warning-color;
  }

  &--green {
    border-color: $success-color;
    background-color: $success-color;
  }

  &--green, &--orange {
    &:hover, &:active, &:visited {
      color: $white;
    }
  }

  &--large {
    padding: 16px 40px 16px 40px;
  }

  &--transparent-green {
    background-color: transparent;
    color: $success-color;
    border-color: $success-color;

    &:hover, &:active, &:visited {
      color: $success-color;
    }
  }

  &--expanded {
    padding: 16px 0;
    width: 100%;
    text-align: center;
  }
}

.footer {
  background-image: url(/assets/img/layer-bottom.png);
  background-repeat: no-repeat;
  background-size: cover;

  &__title {
    color: $white;
  }

  &__contact {
    color: $gray-light-text;

    &:hover, &:active, &:visited {
      color: $gray-light-text;
    }
  }

  &__icon {
    margin-right: 8px;
    display: inline-block;
  }

  &__text {
    color: $gray-light-text;
    font-size: 14px;
  }

  &__logo {
    background-color: $black-background;
  }

  &__social-block li {
    display: inline-block;
  }

  &_underline {
    text-decoration: underline;
  }
}

// @media only screen and (max-width: 596px) {
//   td.small-6, th.small-6 {
//       display: table-cell !important;
//   }
// }
